<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="73f9fc">  <td>18/04/13 15:55:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Basics10.createTweet()[pri:0, instance:files.Basics10@6f45df59]">createTweet</td> 
  <td>main@680712932</td>   <td></td> </tr>
<tr bgcolor="73f9fc">  <td>18/04/13 15:55:54</td>   <td>13527</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Basics10.deleteTweet()[pri:0, instance:files.Basics10@6f45df59]">deleteTweet</td> 
  <td>main@680712932</td>   <td></td> </tr>
</table>
