<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c09695">  <td>18/04/16 17:01:31</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Basics2.getData()[pri:0, instance:tests.Basics2@6a03bcb1]">&gt;&gt;getData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@225344427</td>   <td></td> </tr>
<tr bgcolor="a9a8e4">  <td>18/04/16 17:01:31</td>   <td>38</td> <td>&nbsp;</td><td title="&gt;&gt;Basics6.getData()[pri:0, instance:tests.Basics6@21b2e768]">&gt;&gt;getData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@225344427</td>   <td></td> </tr>
<tr bgcolor="8586d6">  <td>18/04/16 17:01:31</td>   <td>39</td> <td>&nbsp;</td><td title="&gt;&gt;Basics7.getData()[pri:0, instance:tests.Basics7@57250572]">&gt;&gt;getData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@225344427</td>   <td></td> </tr>
<tr bgcolor="689d9d">  <td>18/04/16 17:01:31</td>   <td>39</td> <td>&nbsp;</td><td title="&gt;&gt;CentralizedCode.getData()[pri:0, instance:tests.CentralizedCode@5609159b]">&gt;&gt;getData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@225344427</td>   <td></td> </tr>
<tr bgcolor="73f9fc">  <td>18/04/16 17:01:31</td>   <td>72</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Basics.Test()[pri:0, instance:tests.Basics@2118cddf]">Test</td> 
  <td>main@225344427</td>   <td></td> </tr>
<tr bgcolor="c09695">  <td>18/04/16 17:01:38</td>   <td>7033</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Basics2.postData()[pri:0, instance:tests.Basics2@6a03bcb1]">postData</td> 
  <td>main@225344427</td>   <td></td> </tr>
<tr bgcolor="e6f7ac">  <td>18/04/16 17:01:39</td>   <td>7511</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Basics3.postAnddeleteData()[pri:0, instance:tests.Basics3@17a7f733]">postAnddeleteData</td> 
  <td>main@225344427</td>   <td></td> </tr>
<tr bgcolor="d0b2b5">  <td>18/04/16 17:01:40</td>   <td>8840</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Basics4.postAnddeleteData()[pri:0, instance:tests.Basics4@68567e20]">postAnddeleteData</td> 
  <td>main@225344427</td>   <td></td> </tr>
<tr bgcolor="78afa0">  <td>18/04/16 17:01:41</td>   <td>9801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Basics5.Test()[pri:0, instance:tests.Basics5@76ed1b7c]">Test</td> 
  <td>main@225344427</td>   <td></td> </tr>
<tr bgcolor="a9a8e4">  <td>18/04/16 17:01:43</td>   <td>11445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Basics6.JiraAPITest()[pri:0, instance:tests.Basics6@21b2e768]">JiraAPITest</td> 
  <td>main@225344427</td>   <td></td> </tr>
<tr bgcolor="8586d6">  <td>18/04/16 17:01:43</td>   <td>11556</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Basics7.JiraAPITest()[pri:0, instance:tests.Basics7@57250572]">JiraAPITest</td> 
  <td>main@225344427</td>   <td></td> </tr>
<tr bgcolor="689d9d">  <td>18/04/16 17:01:43</td>   <td>11608</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CentralizedCode.postAnddeleteData()[pri:0, instance:tests.CentralizedCode@5609159b]">postAnddeleteData</td> 
  <td>main@225344427</td>   <td></td> </tr>
</table>
